.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name username
        %ul.side-header__box__menu 
          %li.side-header__box__menu__new-group
            = link_to "" do
              %i.fa.fa-edit{class:"edit"}
          %li.side-header__box__menu__edit-user
            = link_to "" do
              %i.fa.fa-cog{class:"cog"}
              
            

    .groups
      .group group
      %p.group__group-name
      %p.group__latest-content_message

  .chat-main
    .main-header 
      .main-header__left-box
        %h2.main-header__left-box__current-group header
        %ul.main-header__left-box__member-list 
          %li.main-header__left-box__member-list__member 
          Member
          %link_to{href: "/groups/1897/edit"}
      .main-header__edit-btn Edit
    
    .messages
      .message 
        .message_upper-info
          %p.message__upper-info__talker talk
          %p.message__upper-info__date 2019

      %p.message__text
    .form
      %form.new_message
      .input-box
        %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
        %label.input-box__image
          %i.fa.fa-image
      %input.input-box__image__file
      %input.submit-btn{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/

